.AboutMe {
  background-color: var(--theme-background-color-dark);
  padding: 15rem;
  position: relative;
  width: 100%;
  color: var(--theme-main-color-light);

  h1 {
    font-size: 6rem;
    line-height: 6rem;
  }
  p {
    font-size: 1.7rem;
    font-family: var(--theme-secondary-font-family);
  }
}

.AboutMeIntro {
  display: flex;
  justify-content: center;
  align-items: center;

  &__myPic {
    width: 100rem;
    height: 600px;
  }

  &__myPicDiv {
    width: 50%;
    justify-content: center;
    overflow: hidden;
  }

  &__text-wrapper {
    width: 50%;
    margin-left: 10rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.AboutMeFunStuff {
    margin-top: 15rem;
}
.Skills {
    margin-top: 15rem;
}
