#homePage {
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;


  #heroSection {
    border-radius: 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    /* padding: 60px 60px;

    background: linear-gradient(300deg, #cbf1ff, #c1d8ee, #ffe8f8);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite; */


    @keyframes {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }

    #hiAndName {
      gap: 40px;

      .name {
        font-family: 'Playfair Display';
      }
    }

    .introDesc {
      width: 50%;
      transform: translateX(50%);
    }
  }

  #projects {
    width: 100%;
  }
}