.contactIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    align-self: center;
    width: fit-content;

    .icon {
        width: 25px;
        height: 25px;
        transition: 0.3s;
        color: rgb(255, 246, 202);


        &:hover {
            transform: scale(1.1);
        }
    }

    @media (max-width: 920px) {
        gap: 30px;

        .icon {
            width: 20px;
            height: 20px;
        }
    }
}