.contactIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    align-self: center;
    width: fit-content;

    .icon {
        width: 25px;
        height: 25px;
        transition: 0.3s;

        &:hover {
            transform: scale(1.1);
            color: var(--primary-color);
        }
    }

    @media (max-width: 920px) {
        gap: 30px;
        .icon {
            width:20px;
            height:20px;
        }
    }
}