.contactIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    align-self: center;

    .icon {
        width: 30px;
        height: 30px;
        transition: 0.3s;

        &:hover {
            transform: scale(1.1);
            color: var(--primary-color);
        }
    }
}