.aboutPage {
    width: 100%;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 9.375vw;

    .aboutIntro {
        display: flex;
        padding: 0em 12.5vw;
        justify-content: center;
        align-items: center;
        gap: 10vw;
        flex-direction: row; 
        img {
            display: flex;
            height: 419px;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.625vw;
            border-radius: 30px;
            flex: 1 0 0;
        }
      
        @media (max-width: 920px) {
          flex-direction: column; 
          text-align: center;
      
          .aboutBlurb {
            align-items: center; 
          }
      
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      

    .aboutDesc {
        display: flex;
        padding: 0em 18.75vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5vw;
        align-self: stretch;
    }

    #skillsAndExpertise {
        display: flex;
        padding: 0em 12.5vw;
        flex-direction: column;
        align-items: center;
        gap: 5vw;
        align-self: stretch;
        text-align: left;

        .skillsBlurb {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-self: stretch;
        }

        .skills {
            display: flex!important;
            flex-wrap: wrap;
            align-items: stretch;
            gap: 3.75vw;

            .skillsCard {
                padding: 2.5vw 3.75vw;
                background: linear-gradient(180deg, #F2F5FF 0%, #FDFAFF 50%, #F9F0FC 100%);
                flex: 1;
                border-radius: 30px;

                .skillsList {
                    margin-top: 1.5vw;
                    display: flex!important;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    gap: 2.5vw;
                    flex: 1 0 0;
                    flex-wrap: wrap;
                    gap: 10px;
                    border-radius: 30px;
                }
            }
        }

    }

    .photographySection {
        text-align: center;

        .photographyBlurb {
            margin-bottom: 20px;
        }

        .photos {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            /* keeps them in a row */
            gap: 10px;
            overflow-x: auto;

            /* enables horizontal scrolling if they overflow */
            img {
                max-height: 300px;
                /* or max-height if you want more flexibility */
                object-fit: cover;
            }
        }
    }
}