#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px !important;
    padding: 1.25vw;
    background-color: #f1f9ff44;
    -webkit-backdrop-filter: blur(50px);
    z-index: 3;
    backdrop-filter: blur(50px);
    border-radius: 0px 0px 30px 30px;


    .navLogo {
        color: #212121;
        color: color(display-p3 0.1303 0.1303 0.1303);
        font-family: 'Libre Franklin';
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .navLink {
        margin-left: 2rem;
        padding: 0.5rem 1rem;
        border-radius: 30px;
        transition: background-color 0.3s ease;

        a {
            opacity: 50%;
            font-size: 16px !important;
            text-decoration: none;
            cursor: pointer;
            transition: color 0.3s ease, opacity 0.3s ease;

            &:visited {
                opacity: 50%;
            }
        }

        &:hover a {
            color: var(--primary-color);
            opacity: 1;
        }

        &.active {
            a, a:visited {
                color: var(--primary-color);
                opacity: 1;
            }

            &:hover a {
                color: white;
            }
        }
    }
}