#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px !important;
    padding: 1.25vw;
    background-color: #f1f9ff44;
    -webkit-backdrop-filter: blur(50px);
    z-index: 3;
    backdrop-filter: blur(50px);
    border-radius: 0px 0px 30px 30px;


    .navLogo {
        color: #212121;
        color: color(display-p3 0.1303 0.1303 0.1303);
        font-family: 'Libre Franklin';
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .navLink {
        margin-left: 2rem;

        a {
            opacity: 50%;
            font-size: 16px !important;
            text-decoration: none;
            cursor: pointer;

            &:visited {
                opacity: 50%;
            }
        }
    }
}